<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HTML Forms</h1>

<h2>The method Attribute</h2>
<p>This form will be submitted using the GET method:</p>

<form action="/" method="GET">
    <h2>HTML Forms with text</h2>
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br><br>

    <textarea name="message" rows="10" cols="30"></textarea>
    <br>
    <input type="submit" value="Submit" id="submit"/>
    <input type="reset" value="Clear"/>

    <h2>Radio Buttons</h2>
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other<br>

</form>

<p>If you click the "Submit" button, what happened.</p>

</body>
</html>